.my-card{
    /* width: 300px; */
    border-radius: 10px;
    /* width: 250px; */
}
.card-img{
    height: 250px;    
    /* width: 100%; */
    object-fit: contain;

}
.body-text{
    font-size: 18px;
    font-weight: 600;
}
.card-description{
    color: rgb(173, 173, 173);
    font-size: 12px;
    /* width: 50px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}