<div class="my-card  bg-dark text-light p-0 m-0 align-items-center p-3 my-3" >
    <div class=" d-flex justify-content-center pb-3">
        <img src="assets/images/watch.png" class="card-img">
    </div>
    
    <div class="card-body d-flex flex-row justify-content-between">
        <div class="body-text card-name "></div>
        <div class="body-text card-price ">8.00 &euro;</div>
    </div>
    <div class="pt-1">
        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, nulla. Accusamus repellendus quis at labore vero.</p>
    </div>
    <button>
        <li class=""></li>
    </button>
    <div class="card-btn pt-2">
        <button type="button" class="btn btn-outline-light">Add to cart</button>
    </div>
</div>
